@font-face {
    src: url('../font/Cica.ttf') format('truetype');
    font-family: Cica;
}

* {
    font-family: Cica;
}

h1 {
    font-suze: 1.06px;
}
ul, li {
    font-size: 1.01em;
}
